.container{
width: 100%;
display: flex;
max-width: 100%;
flex-wrap: wrap;

}
.card {
width: 30%;

margin: 10px;
border-radius: 20px;
overflow: hidden;
background: #fff;
box-shadow: 0px 1px 10 px rgb(0,0,0,0.2);
cursor: default;
transition: all 400ms ease;
}
.card:hover{
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
transform: translateY(-3%);

}
.imagen-carta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    margin-bottom: 30px;


}
.card .contenido {

padding: 20px;
text-align: center;
height: 100%;

}
    .card .contenido p{

line-height: 1.5;   
color: #6a6a6a;

}
.card .contenido h1{
font-weight: 400;
margin-bottom: 15px;
}

.card .contenido a {
text-decoration: none;
display: inline-block;
margin-bottom: 10px;
color: #2fb4cc;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition: all 400ms ease;
}
.card a:hover{

    background: #2fb4cc;
    color: #fff;
}